# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Trash files
*~
*.swp
*.swo
*.P

# gprof files
gmon*.out
gprof*.out
cachegrind*

# Compiled Binaries
unit-test
higher-order-experiment
svm_sos_classify
svm_sos_learn
process_stats
feature_train

# Generated test files
*.model
*.predictions
nohup.out
stats.out
*.dat
sum-of-submodular.tar


# images
*.ppm
