build
thirdparty/QPBO

# Trash files
*~
*.swp
*.swo
*.P

# Profiler files
gmon*.out
gprof*.out
cachegrind*
callgrind*

# Generated test files
*.model
*.predictions
nohup.out
stats.out
*.dat
sum-of-submodular.tar
bisect.sh
*.stats


# images
*.ppm
*.png
*.pgm
