build
release
thirdparty/QPBO
doc/html
doc/latex

# Trash files
*~
*.swp
*.swo
*.P
.ycm_extra_conf.py*

# Profiler files
gmon*.out
gprof*.out
cachegrind*
callgrind*

# Generated test files
*.model
*.predictions
nohup.out
stats.out
*.dat
sum-of-submodular.tar
bisect.sh
*.stats


# images
*.ppm
*.png
*.pgm
